html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    outline: 0;
    /*vertical-align: baseline;*/
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    border:none;
}


/*my style*/

.gray{
    position: fixed;
    background:#b5b6b6;
    height: 60px;
    width: 100%;
    bottom:0;
    z-index: 999;
}
.car{
    position: fixed;
    bottom: 78px;
    width: 240px;
    z-index: 99;
    left: 50%;
    margin-left: -120px;
}
.car-active{
    -webkit-animation:carMove 0.1s linear 0s infinite alternate;
    animation:carMove 0.1s linear 0s infinite alternate;
}
@-webkit-keyframes carMove {
    from {
        -webkit-transform: translate3d(0px,-1px,0px);
        transform: translate3d(0px,-1px,0px);
    }

    to {
        -webkit-transform: translate3d(0px,2px,0px);
        transform: translate3d(0px,2px,0px);
    }
}

@keyframes carMove{
    from {
        -webkit-transform: translate3d(0px,-1px,0px);
        transform: translate3d(0px,-1px,0px);
    }

    to {
        -webkit-transform: translate3d(0px,2px,0px);
        transform: translate3d(0px,2px,0px);
    }
}

/* intro modal*/
.intro-modal{
    position: fixed;
    top: 0;
    right: 0;
    width: 600px;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
}
.intro-block:after{
    clear: both;
}
.intro-block{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.intro-body{
    text-indent: 2em;
    color: white;
    font-weight: 100;
    padding: 42px;
    text-align: left;
}
.intro-logo{
    width: 100%;
    margin-top: 130px;
    text-align: center;
}
.close{
    right: -315px;
    display: none;
}
.open{
    display: block;
}
.close-btn{
    background: url(../images/close.svg) no-repeat;
    width: 36px;height: 36px;
   position: absolute;
    right: 0;
    margin: 28px;
    cursor: pointer;
}
.open-intro{
    cursor: pointer;
}
.single-page{
    background-size: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.intro-main{
    text-align: left;
    padding: 15px;
}
.intro-main .name{
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    color:#f2dd2a;
}
.intro-main .title,.intro-main .age{
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    color:#f2dd2a;
}
.intro-main .avatar{
    display: block;
    width: 300px;
    margin: 10px auto;
}
.intro-main .content{
    font-size: 16px;
    line-height: 1.5;
    color: #eee;
    padding: 10px;
}
.intro-main .word{
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    line-height: 1.5;
    margin: 10px;
    padding: 10px 0;
}


/*page start*/

.page{
    width: 1350px;
    /*min-height: 750px;*/
    margin: 0 auto;
    position: relative;
}
.swiper-slide{
    transform-origin: bottom;
}
.swiper-slide img,.page img{
    position: absolute;
}
.wxj-pagination{
    position: fixed;
    bottom:12px;
    z-index: 1000;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: "SimHei";
}
.wxj-pagination > .swiper-pagination-bullet {
    margin: 0 6px;
    width: 90px;
    background: transparent;
    height: 30px;
    text-align: center;
    border-radius: 0;
}
.swiper-pagination-bullet{
    opacity: 1;
    color: #000;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    color: #fff;
}

.logo{ width: 90px; left: 5%; top:8%;z-index: 99; }

.guide{
    position: absolute;
    color: #f6ab00;
    z-index: 999;
    font-size: 18px;
}
.guide img{
    width: 30px;
    display: block;
    margin: 8px auto;
    position: static!important;
    animation:upDown 1s linear infinite
}
@keyframes upDown {
    0%{
        transform:translateY(-10%)
    }
    100%{
        transform:translateY(10%)
    }
}

.pc1{z-index: 10;}
.pc1 .road{bottom:60px;z-index: 101; }
.pc1 .road-long{background: url(../images/page1/road.png) repeat-x -7px 0;position: absolute;height: 85px;width: 100%;right:-2px;bottom:60px;z-index: 102 }
.pc1 .pc1-edge{z-index: -1; right: 100px; bottom: 126px; width: 400px;}
.pc1 .pc1-edge2{z-index: -1;
    left: 160px;
    bottom: 125px;
    width: 300px;}

.page1{}
.page1 .guide{left: 240px;
    bottom: 310px;}
.page1 .start{ bottom:131px; left: 160px; width: 1000px; }
.page1 .pai{width: 140px; bottom: 405px; left: 590px; }
.page1 .title{ width: 600px; left: 280px; bottom: 600px; }
.page1 .ctrl{ width: 370px; left:450px; bottom: 500px; }
.page1 .sun{     width: 110px; right: 270px; bottom: 600px;
    -webkit-animation:sunRotate linear 6s infinite;
    animation:sunRotate linear 6s infinite;
}
.page1 .bottle{width: 50px; bottom: 140px; left: 285px;
    /*transform-origin: 50%;*/
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.page1 .cloud{width: 250px; right: 300px; bottom: 600px; z-index: 1;
    -webkit-animation:cloudMove linear 10s infinite;
    animation:cloudMove linear 10s infinite;
}
.page1 .mountain{width: 270px; right: 110px; bottom: 143px;}
.page1 .cloud2{right: 400px; bottom:500px;z-index: 222; -webkit-animation:cloudMove2 linear 10s infinite;
    animation:cloudMove2 linear 18s infinite;}


/*page1 animate*/
@-webkit-keyframes sunRotate {
    from{
        -webkit-transform: none;
        transform:none;
    }
    50%{
        -webkit-transform: rotate(180deg);
        transform:rotate(180deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
@keyframes sunRotate {
    from{
        -webkit-transform: none;
        transform:none;
    }
    50%{
        -webkit-transform: rotate(180deg);
        transform:rotate(180deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
@-webkit-keyframes cloudMove {
    0%{
        -webkit-transform: translateX(150%);
        transform: translateX(150%);
        opacity: 0;
    }
    50%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        -webkit-transform: translateX(-150%);
        transform: translateX(-150%);
        opacity: 0;
    }
}
@keyframes cloudMove {
    0%{
        -webkit-transform: translateX(150%);
        transform: translateX(150%);
        opacity: 0;
    }
    50%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        -webkit-transform: translateX(-150%);
        transform: translateX(-150%);
        opacity: 0;
    }
}
@-webkit-keyframes cloudMove2 {
    0%{
        -webkit-transform: translateX(300%);
        transform: translateX(300%);
        opacity: .3;
    }
    50%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
        opacity: .3;
    }
}
@keyframes cloudMove2 {
    0%{
        -webkit-transform: translateX(300%);
        transform: translateX(300%);
        opacity: .3;
    }
    50%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
        opacity: .3;
    }
}



.pc2{z-index: 9;}
.pc2 .road-long{background: url(../images/page1/road.png) repeat-x -12px 0;position: absolute;height: 85px;width: 100%;left:0;bottom:60px;z-index: 201;}
.pc2 .road-long2{background:#b5b6b6 url(../images/page2/road2.png) repeat-x 4px -1px; position: absolute; height: 85px; width: 100%; right: 0; bottom: 60px;z-index: 102;}
.pc2 .pc2-edge{z-index: -1; right: 0; bottom: 138px; width: 400px;}
.pc2 .page2 .syzl{
    right: 8%;
}
.page2{z-index: 2;}
.page2 .guide{
    left: 300px;
    bottom:690px;
    transform-origin: bottom;
    transform: scale(.8);
}
.page2 .guide2{
    right: 8%;
    bottom: 600px;
    left: auto;
}
.page2 .tian{width: 860px; bottom: 90px; left: -100px;}
.page2 .m{width: 450px; bottom: 118px; left: 875px; z-index: 99;}
.page2 .mogu1{width: 260px; bottom: 61px; z-index: 100; left: 350px;}
.page2 .mogu2{width: 120px; bottom: 61px; z-index: 99; left: 130px;}
.page2 .branch{width: 380px;height:480px;background:url(../images/page2/branch.png) 0 100%;background-size:380px 480px;left: 646px; bottom: 120px;position: absolute;opacity: 0;}


.page2 .gouqi{width: 150px; left: 750px; bottom: 595px;opacity: 0;}
.page2 .juemingzi{width: 100px;  bottom: 330px;  left: 624px;opacity: 0;}
.page2 .juhua{    width: 100px; left: 974px; bottom: 450px;opacity: 0;}
.page2 .fuling{width: 100px; left: 605px; bottom: 535px;opacity: 0;}
.page2 .jinzhengu{width: 100px; left: 908px; bottom: 566px;opacity: 0;}
.page2 .xianggu{width: 120px; left: 682px; bottom: 460px;opacity: 0;}
.page2 .sangshen{width: 80px; bottom: 340px; left: 930px;opacity: 0;}
.page2 .yiner{width: 80px; left: 873px; bottom: 410px;opacity: 0;}
.page2 .farmer{width: 200px; bottom: 330px; left: 370px;}
.page2 .bird{width: 50px;animation:birdFly 2s linear infinite,birdMove 10s ease-in infinite;left: 400px;top:100px;z-index: 44;}
.page2 .notice{width: 100px;
    left: 320px;
    bottom: 570px;}
.page2 .c22{width: 100px;bottom: 550px;left: 300px;
-webkit-animation:cloudMove2 linear 15s infinite;z-index: 100; animation:cloudMove2 linear 15s infinite;}
.page2 .c222{width: 120px;bottom: 630px; left:600px;-webkit-animation:cloudMove linear 20s infinite;
    animation:cloudMove linear 20s infinite;z-index: 101;}

.active .branch.animated{opacity:1;-webkit-animation:growup 1.5s linear both 1s;animation:growup 1.5s linear both 1s;}
.active .gouqi{animation:bounceIn .5s linear 2.9s forwards,page2Rotate 5s linear infinite;; }
.active .juemingzi{animation:bounceIn .5s linear 2.3s forwards,page2Rotate 4.2s linear infinite;; }
.active .juhua{animation:bounceIn .5s linear 2.5s forwards,page2Rotate 4.5s linear infinite;; }
.active .fuling{animation:bounceIn .5s linear 2.7s forwards,page2Rotate 4.2s linear infinite;; }
.active .jinzhengu{animation:bounceIn .5s linear 2.8s forwards,page2Rotate 4.4s linear infinite;; }
.active .xianggu{animation:bounceIn .5s linear 2.6s forwards,page2Rotate 4.8s linear infinite;; }
.active .sangshen{animation:bounceIn .5s linear 2.2s forwards,page2Rotate 4s linear infinite;; }
.active .yiner{animation:bounceIn .5s linear 2.4s forwards,page2Rotate 3.8s linear infinite;transform-origin: 40% 55%; }


@-webkit-keyframes growup {
    0%{
        /*clip: rect(480px, 190px, 0, 190px);*/
        opacity: 0;
        clip: rect(480px,190px,480px,190px);
    }
    50%{
        opacity: 1;
        clip: rect(0px,380px,480px,0px);
    }
}
@keyframes growup {
    0%{
        /*clip: rect(480px, 190px, 0, 190px);*/
        clip: rect(480px,190px,480px,190px);
    }
    50%{
        clip: rect(0px,380px,480px,0px);
    }
}
@-webkit-keyframes page2Rotate {
    0%{
        transform:rotate(0deg)
    }
    25%{
        -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -ms-transform: rotate(10deg); -o-transform: rotate(10deg); transform: rotate(10deg);
    }
    50%{
        -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);
    }
    75%{
        -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -ms-transform: rotate(-10deg); -o-transform: rotate(-10deg); transform: rotate(-10deg);
    }
    100%{
        -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);
    }
}
@keyframes page2Rotate {
    0%{
        transform:rotate(0deg)
    }
    25%{
        -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -ms-transform: rotate(10deg); -o-transform: rotate(10deg); transform: rotate(10deg);
    }
    50%{
        -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);
    }
    75%{
        -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -ms-transform: rotate(-10deg); -o-transform: rotate(-10deg); transform: rotate(-10deg);
    }
    100%{
        -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg);
    }
}

@-webkit-keyframes birdFly {
    0%{
        -webkit-transform: translateY(0);  transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(30%); transform: translateY(30%);
    }
    50%{
        -webkit-transform: translateY(0);transform: translateY(0);
    }
    75%{
        -webkit-transform: translateY(-40%);  transform: translateY(-40%);
    }
    100%{
        -webkit-transform: translateY(0);  transform: translateY(0);
    }
}
@keyframes birdFly {
    0%{
        -webkit-transform: translateY(0);  transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(30%); transform: translateY(30%);
    }
    50%{
        -webkit-transform: translateY(0);transform: translateY(0);
    }
    75%{
        -webkit-transform: translateY(-40%);  transform: translateY(-40%);
    }
    100%{
        -webkit-transform: translateY(0);  transform: translateY(0);
    }
}
@keyframes birdMove {
    0%{
       left:-10%
    }
    100%{
       left:105%;
    }
}



.pc3 .road-long3{background:#b5b6b6 url(../images/page3/road333.png) repeat-x 4px -1px; position: absolute; height: 85px; width: 100%; left: 0; bottom: 60px;z-index: 101;}
.pc3-edge{right: 70px;
    z-index: 10;
    bottom: 137px;
    width: 340px;}

.page3{z-index: 100;}
.page3 .guide,.page4 .guide{
    left: 1070px;
    bottom: 600px;
}
.page2 .guide2 img,.page3 .guide img,.page4 .guide img,.page5 .guide-t img{
    transform: rotate(180deg);
    animation-name: upDownRotate;
}
@keyframes upDownRotate {
    0%{
        transform:translateY(10%) rotate(180deg)
    }
    100%{
        transform:translateY(-10%) rotate(180deg)
    }
}
.page3 .door,.page4 .door{width: 1060px;
    bottom: 136px;
    left: 145px;}
.page3 .wall-left,.page4 .wall-left{width: 101px;
    left: 45px;
    bottom: 145px;}
.page3 .wall-right,.page4 .wall-right{width: 101px;
    right: 45px;
    bottom: 145px;}
.page3 .door2,.page4 .door2{width: 1060px;
    left: 145px;
    bottom: 144px;
    height: 630px;opacity: .7}
.page3 .machine{  width: 380px;
    left: 595px;
    bottom: 242px;
    z-index: 199;}
.page3 .machine2{width: 430px;
    bottom: 143px;
    left: 200px;
    z-index: 200;}
.page3 .machine3{width: 310px;
    left: 884px;
    bottom: 144px;
    z-index: 199;}
.page3 .busstop{width: 100px;
    bottom: 140px;
    z-index: 300;
    left: 100px;}
.page3 .word{width: 785px;
    left: 345px;
    bottom: 220px;z-index: 200;}
.page3 .desc{
    width: 140px;
    left: 439px;
    bottom: 510px;
    z-index: 198;
}
.page3 .flog1{
    bottom: 480px;
    left: 380px;
    z-index: 300;
    width: 80px;
    opacity: 1;
    transform-origin: 0 100%;
    animation:flog1Up 3.2s linear infinite;
}
.page3 .flog2 {
    bottom: 375px;
    left: 1040px;
    z-index: 300;
    width: 80px;
    opacity: 1;
    transform-origin: 0 100%;
    animation: flog2Up 4s linear infinite;
}
.page2 .syzl,.page3 .story,.page4 .story,.page5 .story{right: 13%;
    bottom: 660px;
    z-index: 50;
    width: 100px;}
.page3 .water-box{
    position: absolute;
    overflow: hidden;
    left: 633px;
    bottom: 384px;
    height: 50px;
    width: 200px;
}
.page3 .water1{
    left: 0;
    width: 60px;
    animation: waterDrop 2.4s linear infinite;
}
.page3 .water2{
    left: 70px;
    width: 60px;
    animation: waterDrop 2.4s linear .5s infinite;
}
.page3 .water3{
    left: 140px;
    width: 60px;
    animation: waterDrop 2.4s linear 1s infinite;
}
@keyframes waterDrop {
    0%{
        top:-20px;
    }
    75%{
        top:0px;
    }
    85%{
        top:50px;
    }
    100%{
        top:50px;
    }
}
@keyframes flog1Up {
    0%{
        left:365px;
        bottom: 465px;
        opacity: 1;
        transform: scale(0.1);
    }
    90%{
        left:400px;
        bottom: 520px;
        transform: scale(1);
        opacity: 0;
    }
    100%{
        left:400px;
        bottom: 520px;
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes flog2Up {
    0%{
        left: 1040px;
        bottom: 375px;
        opacity: 1;
        transform: scale(0.3);
    }
    90%{
        left:1070px;
        bottom: 420px;
        transform: scale(1.1);
        opacity: 0;
    }
    100%{
        left:1070px;
        bottom: 420px;
        transform: scale(1.1);
        opacity: 0;
    }
}


.page3 .tips1{left: 1080px; bottom: 320px;}
.page3 .tips2{left: 430px; bottom: 400px;}
.page3 .tips3{left: 310px; bottom: 460px;}
.page3 .tips4{left: 410px; bottom: 630px;}
.page3 .tips5{left: 530px; bottom:330px;}
.page3 .tips6{left: 670px; bottom:480px;}
.page3 .tips7{    left: 888px; bottom: 555px;}
.page3 .tips8{left: 975px;
    bottom: 430px;}
.page3 .pulse-delay{
    animation-delay: .5s;
}
.page2 .tips,.page3 .tips,.page4 .tips{
    position: absolute;
    cursor: pointer;
    width: 60px;
    height: 70px;
    background: url(../images/page3/button.png) no-repeat 0 0;
    background-size: 100%;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 34px;
    z-index: 300; }
.page2 .tips{
    right: 20px;
    bottom: 650px;
    width: 80px;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
}


.pc4 .road-long4{background:#b5b6b6 url(../images/page3/road333.png) repeat-x 4px -1px; position: absolute; height: 85px; width: 100%; left: 0; bottom: 60px;z-index: 100;}
.pc4-edge{left: 0;
    bottom: 127px;
    width: 400px;}
.page4{z-index: 99;}
.page4 .m1{width: 330px; bottom: 143px; left: 170px;}
.page4 .m2{width: 290px; bottom: 143px; left: 510px;}
.page4 .pack1{width: 360px; bottom: 360px; left: 700px;}
.page4 .word{width: 840px; bottom: 280px; left: 240px;z-index: 200;}
.page4 .pack2{width: 370px; bottom: 143px;left:800px;}
.page4 .worker{width: 390px;
    bottom: 117px;
    left: 819px;}
.page4 .light{width: 140px; bottom: 423px; left: 150px;}
.page4 .box1{
     width: 76px;
     z-index: 1000;
     left: 1000px;
     bottom: 394px;
     animation: packBoxMove 6s linear infinite;
 }
.page4 .box2{
    width: 76px;
    z-index: 1000;
    left: 1000px;
    bottom: 394px;
    animation: packBoxMove 6s linear infinite 3s;
}
.page4 .box3{
    width: 76px;
    z-index: 1000;
    left: 1000px;
    bottom: 394px;
    animation: packBoxMove 6s linear infinite 4s;
}
@keyframes packBoxMove {
    0%{
        left: 849px;
        bottom: 497px;
    }
    100%{
        left: 1000px;
        bottom: 394px;
    }

}
.page4 .bottle1{
    width: 19px;
    left: 470px;
    bottom: 209px;
}
.page4 .b1{
    animation:bottleMove 6.3s linear infinite;
}
.page4 .b2{
    animation:bottleMove 6.3s linear infinite .7s;
}
.page4 .b3{
    animation:bottleMove 6.3s linear infinite 1.4s;
}
.page4 .b4{
    animation:bottleMove 6.3s linear infinite 2.1s;
}
.page4 .b5{
    animation:bottleMove 6.3s linear infinite 2.8s;
}
.page4 .b6{
    animation:bottleMove 6.3s linear infinite 3.5s;
}
.page4 .b7{
    animation:bottleMove 6.3s linear infinite 4.2s;
}
.page4 .b8{
    animation:bottleMove 6.3s linear infinite 4.9s;
}
.page4 .b9{
    animation:bottleMove 6.3s linear infinite 5.6s;
}

@keyframes bottleMove {
    0%{
        left: 245px;
    }
    100%{
        left: 470px;
    }
}

.page4 .stop{
    width: 100px;
    bottom: 140px;
    z-index: 300;
    left: 100px;
}
.page4 .bottle2{
    width: 19px;
    left: 870px;
    bottom: 209px;
}
.page4 .bo1{
    animation:bottleMove2 4.9s linear infinite;
}
.page4 .bo2{
    animation:bottleMove2 4.9s linear infinite .7s;
}
.page4 .bo3{
    animation:bottleMove2 4.9s linear infinite 1.4s;
}
.page4 .bo4{
    animation:bottleMove2 4.9s linear infinite 2.1s;
}
.page4 .bo5{
    animation:bottleMove2 4.9s linear infinite 2.8s;
}
.page4 .bo6{
    animation:bottleMove2 4.9s linear infinite 3.5s;
}
.page4 .bo7{
    animation:bottleMove2 4.9s linear infinite 4.2s;
}

@keyframes bottleMove2 {
    0%{
        left: 600px;
    }
    100%{
        left: 770px;
    }
}


.page4 .tips{
    width: 80px;
    height: 90px;
    font-size: 16px;
    line-height: 46px;
}
.page4 .tips1{left: 240px; bottom: 290px;}
.page4 .tips2{left: 400px; bottom: 380px;}
.page4 .tips3{left: 610px;
    bottom: 365px;
    font-size: 18px;
    width: 60px;
    height: 70px;
    line-height: 35px;}
.page4 .tips4{left: 1070px;
    bottom: 370px;
    width: 90px;
    height: 100px;font-size: 15px;}

.pc5{}
.pc5 .road-long5{background: #898989 url(../images/page3/road333.png) repeat-x 0 78px;
    position: absolute;
    height: 164px;
    width: 100%;
    left: 0;
    bottom: 60px;}
.pc5 .pc5-edge{
    left: -20px;
    bottom: 143px;
    width: 410px;
}
.pc5 .pc5-edge2{
    right: 0;
    bottom: 207px;
    width: 410px;
    z-index: 300;
}

.page5{z-index: 98;}
.page5 .guide{
    left: 380px;
    bottom: 630px;
}
.page5 .guide-t{
    bottom: 600px;
    left: 1070px;
}
.page5 .road5{width: 100%;bottom:61px;z-index: 200;}
.page5 .tree{z-index: 203;
    width: 330px;
    bottom: 212px;
    left: 140px;}
.page5 .grass{width: 250px; z-index: 201; bottom: 123px; left: -55px;}
.page5 .grass2{width: 300px;
    left: 1000px;
    bottom: 300px;z-index: 299;}
.page5 .busstop{ z-index: 212; width: 110px; bottom: 125px; left: 170px;}
.page5 .plane{width: 100px;
    left: 1000px;
    bottom: 640px;animation:planeMove 22s linear infinite;}
.page5 .home{    width: 540px;
    bottom: 306px;
    left: 420px;z-index: 205;}
.page5 .house{width: 200px;
    bottom: 302px;
    left: 250px;z-index: 199}
.page5 .man1{width: 90px;
    bottom: 200px;
    left: 400px;
    z-index: 300;animation:man1Move 7s linear infinite; }
.page5 .man2{    width: 100px;
    left: 1000px;
    bottom: 174px;
    z-index: 300;animation:man2Move 14s linear infinite;}
.page5 .cloud2{right: 400px; bottom:600px;-webkit-animation:cloudMove2 linear 16s infinite;
    animation:cloudMove2 linear 16s infinite;}
.page5 .c22{width: 100px;bottom: 650px;left: 200px;
    -webkit-animation:cloudMove2 linear 22s infinite;z-index: 100; animation:cloudMove2 linear 22s infinite;}
.page5 .c5{bottom: 730px;left: 480px;
    -webkit-animation:cloudMove linear 17s infinite;z-index: 100; animation:cloudMove linear 17s infinite;}
.pc5-tip{
    display: none;
    position: fixed;
    bottom: 78px;
    width: 240px;
    height:140px;
    z-index: 999;
    left: 50%;
    margin-left: -120px;
}
.pc5-tip.active,.pc5-guide.active{
    display: block;
}
.pc5-guide{
    display: none;
    position: fixed;
    bottom: 230px;
    left: 50%;
    margin-left: -72px;
}

@-webkit-keyframes planeMove {
    0%{
        -webkit-transform: translateX(-1220%);
        transform: translateX(-1220%);
    }
    100%{
        -webkit-transform:translateX(420%);
        transform: translateX(420%);
    }
}
@keyframes planeMove {
    0%{
        -webkit-transform: translateX(-1020%);
        transform: translateX(-1020%);
    }
    100%{
        -webkit-transform:translateX(420%);
        transform: translateX(420%);
    }
}
@keyframes man1Move {
    0%{
        left: 410px;
        bottom: 200px;
        opacity: 1;
    }
    20%{
        left: 447px;
        bottom: 200px;
        opacity: 1;
    }
    90%{
        opacity: 1;
        bottom: 280px;
        left: 620px;
    }
    100%{
        opacity: 0;
        bottom: 280px;
        left: 620px;
    }
}
@keyframes man2Move {
    0%{
        left: 622px;
        bottom: 270px;
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    50%{
        left: 1000px;
        bottom: 200px;
    }
    100%{
        left:1400px;
        bottom:200px;
    }
}


@media (max-width: 1680px) {
    .pc5-edge2 {
        display: none;
    }

    .pc1 .pc1-edge2{
        left:0;
    }
}

@media (min-width: 1680px) {
    .logo{
        top:20%;
        left:12%;
    }
    .wxj-pagination{
        font-size: 24px;bottom:10px;
    }
    .wxj-pagination > .swiper-pagination-bullet{
        margin: 0 10px;
        height: 40px;
    }
}

.ot-content{
    text-indent: 2em;
}
#opentip-3 .ot-content{
    text-indent: 0;
}